.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .list {
    &__item {
      cursor: pointer;

      &_active,
      &:hover {
        background-color: lightblue;
      }
    }
  }
}
